body {
    background-image: linear-gradient(to right, #3dedfac2, #0555e9d5);
    font-family: 'Roboto', 'Montserrat', sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}


/*HEADER*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
    width: 600px;
    background-color: rgba(140, 0, 255, 0.342);
    border-radius: 5px;
}

img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: left;
    margin: 10px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.75);
}

h2{
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(98, 0, 255, 0.726);
}

h3 {
    font-size: 1.6rem;
    color: rgb(54, 54, 54);
    text-align: center;
}

h3 span {
    color: rgba(98, 0, 255, 0.9);
}

#secInicio {
    margin-top: 100px;
    text-align: center;
}


/*TABLERO*/

#tablero{
    width: auto;
    height: auto;
    margin: auto;
    padding: 3px;
    border: 6px solid rgba(98, 0, 255);;
    border-radius: 5px;
}

.casilla{
    background-color: rgb(139, 139, 139);
    border: 3px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 1.5rem;
}


/*BOTONES*/

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 5px;
    padding: 10px;
}

button{
    background-color: #1132c5c4;
    color: white;
    font-size: 1.1rem;
    border: 2px solid rgb(56, 56, 56);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 200px;
    height: 60px;
    text-transform: uppercase;
}

#eliminarActual, #eliminarTodo {
    background-color: #a80000ce;
}

#reiniciar{
    background-color: #d1a206e3;
}

#cambiar{
    background-color: #01b901c4;
}

button:hover{
    background-color: #008cffdc;
    color: black;
}

#eliminarActual:hover , #eliminarTodo:hover {
    background-color: #ff5858c4;
}

#cambiar:hover{
    background-color: #48ff48ab;
}

#reiniciar:hover{
    background-color: #e2ca2dda;
}
